.container {
    margin-top: 5%;
}
.map { 
    position: relative;
    height: 400px;
    width: 50%; 
}
.quake-info {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
}
 .content {
    position: relative;
    padding: 0 3rem;
  }